* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  color: #333;
}

header {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 15vh;
  background: #f8f7f7;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

nav {
  width: 90%;
  max-width: 900px;
  height: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;
}

main{
  width: 100%;
  min-height: 60vh;
  margin-top: 5vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #f8f7f7;
  z-index: 1;
}

button{
  border: none;
  padding: 0 2rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #7b56a0;
  border-radius: 1.75rem;
  cursor: pointer;
  color: white;
  font: inherit;
  transition: 0.5s;
}

button:hover{
  color: #7b56a0;
  background: white;
}

.logo {
  font-size: 2rem;
  font-weight: normal;
}

.logo span {
  font-weight: bold;
}

.nav-bar-actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 50%;
}

.nav-bar-total{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.nav-bar-total-quantity{
  font-size: 1rem;
}

.nav-bar-total-price{
  font-size: 1.3rem;
  font-weight: bold;
}

.clean-btn{
  max-width: 10rem;

}

.section-curso{
  max-width: 900px;
  width: 90%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

@media (max-width: 800px){
  .section-curso{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 520px){
  .section-curso{
    grid-template-columns: 1fr;
  }

  .nav-bar-total-quantity{
    font-size: .5rem;
  }
  
  .nav-bar-total-price{
    font-size: 0.75rem;
    font-weight: bold;
  }
  
}

.card{
  height: 100%;
  width: 100%;
  padding: 2rem;
  background: white;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 0.75rem;
  margin: 1rem 0;
  
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

.card-logo{
  width: 50%;
  object-fit: cover;
}

.card-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

footer{
  min-height: 20vh;
  padding: 2rem 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ebebeb;

}

ul{
  max-width: 900px;
  width: 90%;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

ul li{
  background: white;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-radius: .75rem;

  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);

}